body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    letter-spacing: .2rem;
    background-color: #0a192f;
    color: #64ffda;
    font-size: 20px;
    line-height: 1.3;
}

h2{
    color: #ccd6f6;
}

p{
    color:#8892b0 ;
}

#box-container {
    background-color: #23549df4;
    width: 20rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12rem;
    right: 30rem;
    padding: 2rem;
    display: none;
}
.button {
    text-align: center;
    margin-top: 2rem;
}
.ok-button {
    background-color: rgba(23, 23, 206, 0.826);
    width: 50px;
    height: 50px;
    display: inline-block;
    border: none;
    font-size: medium;
    border-radius: 3px;
}
.ok-button:hover{
    background-color: #112240;
    transform: scale(1.2);
}
#box-main p {
    color: black;
}
/* card backgroud colgroup #112240 */

/* Styling the header */
/* Reset styles for the header and nav elements */
header, nav {
    margin: 0;
    padding: 0;
}

/* Set the styles for the header element */
header {
    /* background-color: #333; */
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0a192f;
    border-bottom: 1px solid #eee;
    transition: transform 0.3s ease-out;
    transform: translateY(0);
  }
  .navbar.hidden {
    transform: translateY(-100%);
  }

/* Set the styles for the nav element */
nav {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Set the styles for the logo */
.logo img {
    height: 60px;
}

/* Set the styles for the nav links */
.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    text-align: center;
    /* margin: 0 10px; */
    padding: .3rem 1rem ;
    /* background-color:  #8892b0 ; */
    border-radius: .2rem;
}
.nav-links li:hover {
    background-color: #23549dc3;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: gray;
    
}
.cv-icon {
    margin-right: .5rem;
}
.cv-icon:hover {
    color: #0a192f;
}

/* Set the styles for the burger menu */
.burger {
    display: none;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

/* Styling dropsown menu */
.dropdown-menu{
    background-color: #23549dc3;
    position: absolute;
    right: .3rem;
    top: 5rem;
    text-align: center;
    list-style: none;
    width: 80%;
    margin-left: .3rem;
    height: 0%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.80s, visibility 0.75s, height 0.35s ease-in;
    /* overflow: hidden; */

}
.dropdown-menu li {
    
    padding: .5rem 0;
}

.dropdown-menu li:hover {
    background-color:#0a192f;
}

.dropdown-menu li a {
    text-decoration: none;
    color: white;
}

.dropdown-menu li a:hover {
    color: gray;
}

.main-container{
    margin-top: 10rem;
    padding: 2rem;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    body {
        background-color: greenyellow;
    }
    /* Position the logo */
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /* Hide the nav links */
    .nav-links {
        display: none;
        position: relative;
    }
/* =============when burger button clicked========== */
.burger{
    margin-right: 1rem;
}
.logo{
    margin-left: 2rem;
}
.show{
    /* display: block; */
    height: 18rem ;
    opacity: 1;
    visibility: visible;
}
/* Set the styles for the nav links */
.nav-links li {
    margin:.3rem 1rem;
    text-align: center;
    width: 100%;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.cv-icon {
    margin-right: .5rem;
}
.cv-icon:hover {
    color: #23549dc3;
}
/* =================== */
    /* Show the burger menu */
    .burger {
        display: block;
        cursor: pointer;
    }

    /* Change the background color of the header */
    header {
        background-color: #555;
    }


    /* Make the burger menu responsive */
    .burger div {
        transition: all 0.3s ease;
    }

    /* Rotate the first and third lines */
    .close .line1 {
        transform: rotate(-45deg) translate(-5px, 6px) ;
    }

    .close .line2 {
        opacity: 0;
    }

    .close .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /* resize the message box */
    #box-container {
        background-color: red;
        width: 14rem;
        height: auto;
        top: 12rem;
        right: 15rem;
        font-size: medium;
        line-height: 1.5rem;
    }
}

/* End of header */
@media screen and (max-width: 576px) {
    body {
        background-color: aqua;
    }
    .dropdown-menu {
        width: 100%;
    }

    /* resize the message box */
    #box-container {
        background-color: red;
        width: 14rem;
        height: auto;
        top: 12rem;
        right: 8rem;
        font-size: medium;
        line-height: 1.5rem;
    }
    
}