:root{
    --bg-primary:#0a192f;
    --bg-secondary:#23549df4;
    --txt-color:#8892b0;
    --pd-1rem : 1rem;
    --pd-2rem:2rem;
    --color-h2:#ccd6f6;
    --atte-color:#64ffda;

}

/* Scrolling behanior */
html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    letter-spacing: .2rem;
    background-color: var(--bg-primary);
    color: var(--atte-color);
    font-size: 20px;
    line-height: 1.3;
}
/* Styling the light and dark button */
.mode {
    margin-top: 5.5rem;
    display: flex;
    align-items: end;
    flex-direction: column;
}
.mode-button-container {
    background-color: rgba(128, 128, 128, 0.576);
    width: 5rem;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: .3rem;
    margin-right: 2rem;
    animation: float 5s ease-in-out;
    
}
.mode-button {
    float: left;
}
.mode-button i {
    padding: .4rem;
    color: black;
}
.mode-text {
    display: flex;
    flex-direction: row;
}

.mode-text p {
    margin: 0 .5rem;
    font-size: 1rem;
    letter-spacing: .2rem;
}
/* Changing the dark and light text color based on button position */
.mode-text .dark{
    color: green;
}
.mode-text .unactive{
    color: red;
}

.mode-text .light{
    color: green;
}
.mode-text .unactive{
    color: red;
}

.mode-button.active {
    float: right;
}
/* Styling header */
p{
    color: var(--txt-color);
}

#box-container {
    background-color:var(--bg-secondary);
    width: 20rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12rem;
    right: 30rem;
    padding: var(--pd-2rem);
    display: none;
}
.button {
    text-align: center;
    margin-top: var(--pd-1rem);
}
.ok-button {
    background-color: rgba(23, 23, 206, 0.826);
    width: 50px;
    height: 50px;
    display: inline-block;
    border: none;
    font-size: medium;
    border-radius: 3px;
    transition: background-color .2s ease-in;
}
.ok-button:hover{
    background-color: #112240;
    transform: scale(1.2);
    color: white;
}
#box-main p {
    color: black;
}

/* Styling the header */
/* Reset styles for the header and nav elements */
header, nav {
    margin: 0;
    padding: 0;
}

/* Set the styles for the header element */
header {
    /* background-color: #333; */
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
    z-index: 1;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-primary) ;
    border-bottom: 1px solid #eee;
    transition: transform 0.3s ease-out;
    transform: translateY(0);
  }
  .navbar.hidden {
    transform: translateY(-100%);
  }

/* Set the styles for the nav element */
nav {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Set the styles for the logo */
.logo img {
    height: 60px;
}

/* Set the styles for the nav links */
.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    text-align: center;
    padding: .3rem 1rem ;
    border-radius: .2rem;
}
.nav-links li:hover {
    background-color: var(--bg-secondary);
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: gray;
    
}
.cv-icon {
    margin-right: .5rem;
}
.cv-icon:hover {
    color: var(--bg-primary);
}

/* Set the styles for the burger menu */
.burger {
    display: none;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

/* Styling dropsown menu */
.dropdown-menu{
    background-color: var(--bg-secondary);
    position: absolute;
    right: .3rem;
    top: 5rem;
    text-align: center;
    list-style: none;
    width: 80%;
    margin-left: .3rem;
    height: 0%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.80s, visibility 0.75s, height 0.35s ease-in;
}
.dropdown-menu li {
    
    padding: .5rem 0;
}

.dropdown-menu li:hover {
    background-color: var(--bg-primary);
}

.dropdown-menu li a {
    text-decoration: none;
    color: white;
}

.dropdown-menu li a:hover {
    color: gray;
}

.main-container{
    margin-top: 5rem;
    padding: 2rem;
}
/* end of header */
/* Aminate full name */
h2{
    color: var(--color-h2);
}
.full-name {
    width: 30vw;
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 25.5rem;
}

@keyframes animate
{
    0% ,10%, 100%
    {
        width: 0;
    }
    70%
    {
        width: 50%;
    }
}
/* end full name animation */
.small-intro {
    margin-bottom: 8rem;
}
.small-intro-text p {
    width: 50%;
}
/* Styling main container  */
/* ABOUT ME */
.small-intro p  {
    line-height: 2rem;
}
.small-intro p .job-title {
    font-size: 2.5rem;
    
}
.about-me-title, .projects-title, .skills-title {
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    text-decoration: underline;
}
.about-me-article {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}
.about-me-text {
    width: 50%;
    
}
.image {
    /* background-color: rgba(0, 0, 255, 0.359); */
    background-color: transparent;
    width: 40%;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .2rem solid #8892b0;
}

.about-me-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 30%;
    box-shadow: white 2px 1px 5px;
    padding: 1rem;
}
.about-me-image img {
    height: auto;
    width: 100%;
    border-radius: 30%;
}
/* animate about me section */
.animate-text {
    opacity: 0;
    transform: translateX(-50rem);
    animation: slide_text 2s ease-in-out forwards ;
}

.delay-text {
    animation-duration: 1.5s;
    /* animation-delay: 1.5s; */
}
/* Animate about me text keyframe */
@keyframes slide_text {
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animate about me image */
.animate-image {
    /* opacity: 0; */
    transform: scale(0);
    transform: translateX(50rem);
    animation: animate_image 2s ease-in-out forwards;
}

@keyframes animate_image {
    50% {
        transform: scale(1.2);
    }
    100%{
        transform: translateX(0);
        transform: scale(1);
    }
}

/* Projects section */

hr {
    margin: 5rem 0;
}

.main-projects-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;

}
.project {
    display: flex;
    flex-direction: column;
    width: 20rem;
    border: 1px solid white;
    margin: 1rem;
    box-shadow: 3px 3px 10px lightblue;
    border-radius: 3px;
    transition: transform .3s ease-in;
}
.project a {
    text-decoration: none;
    color: var(--atte-color);
}
.project p {
    font-size: 1rem;
    text-align: center;
}
.project:hover {
    transform: translateY(-1rem);
}

.project h5 {
    text-align: center;
}
.project img {
    padding-top:1rem;
    width: 100%;
}
/* end animate about me section */
/* Style skills section */
.skills-title {
    width: 100%;
    text-align: center;

}
.skills-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
.icons-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.icons {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}
.icon {
    border: 2px solid black;
    height: 8rem;
    /* min-width: 15rem; */
    width: clamp(6rem, 15rem, 18rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(100, 148, 237, 0.156);
    padding: clamp(.5rem, 1rem, 2rem);
    
}


.icon i {
    margin-top: 3rem;
}
.contact-links {
    background-color: var(--bg-primary);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.2rem;
    /* margin-bottom: 2rem; */
}

/* Style contact links section */
.contact-links a {
    text-decoration: none;
    font-size: small;
    color: white;
    transition: font-size .3s ease-in-out;
}
.contact-links div {
    margin: 0 2rem;
    text-align: center;
}
/* .contact-links i:hover {
    transform: scale(1.2);
} */

.contact-links a:hover {
    color: gray;
    font-size: large;
}
.full-name h1 {
    position: relative;
    color: var(--bg-primary);
    font-size: 3vw;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1vw gray;
}

.full-name h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 46%;
    width: 200%;
    height: 100%;
    color: var(--atte-color);
    -webkit-text-stroke: 0vw gray;
    border-right: 2px solid var(--atte-color) ;
    overflow: hidden;
    animation: animate 4.5s ease-in-out infinite;
}
/* End skills section */
/* end main container  */
/* Media query for mobile devices  */

@media screen and (max-width: 768px) {
    /* Remove animation on full name for small screens */
    .full-name {
        line-height: 1rem;
        margin-bottom: 1rem;
    }
    .full-name h1 {
        color: var(--atte-color);
    }
    .full-name h1::before{
        animation: animate 0s;
        content: '';
        left: 48%;
    }
    /* end full name animation */
    /* Position the logo */
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /* Hide the nav links */
    .nav-links {
        display: none;
        position: relative;
    }
/* =============when burger button clicked========== */
.burger{
    margin-right: 1rem;
}
.logo{
    margin-left: 2rem;
}
.show{
    /* display: block; */
    height: 18rem ;
    opacity: 1;
    visibility: visible;
}
/* Set the styles for the nav links */
.nav-links li {
    margin:.3rem 1rem;
    text-align: center;
    width: 100%;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.cv-icon {
    margin-right: .5rem;
}
.cv-icon:hover {
    color: #23549dc3;
}
/* =================== */
    /* Show the burger menu */
    .burger {
        display: block;
        cursor: pointer;
    }

    /* Change the background color of the header */
    header {
        background-color: #555;
    }


    /* Make the burger menu responsive */
    .burger div {
        transition: all 0.3s ease;
    }

    /* Rotate the first and third lines */
    .close .line1 {
        transform: rotate(-45deg) translate(-5px, 6px) ;
    }

    .close .line2 {
        opacity: 0;
    }

    .close .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /* resize the message box */
    #box-container {
        width: 14rem;
        height: auto;
        top: 12rem;
        right: 15rem;
        font-size: medium;
        line-height: 1.5rem;
    }
    /* Styling main container  */

    /* ABOUT ME */
    .about-me-title {
        font-size: 1rem;
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem;
        /* text-align: center; */
    }
    .about-me-article {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1rem;
        padding: 1rem;
    }
    .about-me-text {
        width: 100%;
    }

    .about-me-image {
        width: 50%;
        height: 20rem;
        /* background-color: red; */

        /* display: flex;
        align-items: center;
        align-items: center; */
    }
    .about-me-image img {
        height: 50%;
        width: 100%;
        border-radius: 0;
    }
    .small-intro-text p {
        width: 100%;
    }

    /* Projects section */
    .project {
        width:70% ;
    }

    /* Styling skills section  */
    .skills-container{
        width: 100%;
        height: auto;
}
}
/* End of header */
@media screen and (max-width: 576px) {
    /* full name animation */
    .full-name {
        margin-bottom: 1rem;
    }
    h1::before{
        left: 46%;
    }
    /* end full name animation */
    .dropdown-menu {
        width: 100%;
    }

    /* resize the message box */
    #box-container {
        /* background-color: red; */
        width: 14rem;
        height: auto;
        top: 12rem;
        right: 8rem;
        font-size: medium;
        line-height: 1.5rem;
    }
    /* Styling main container */
    .small-intro-text h2 {
        font-size: 1.2rem;
    }
    .small-intro-text p {
        font-size: 1rem;
    }
    .main-projects-container{
        width: 100%;
        display: flex;
        /* background-color: yellow; */
        width: auto;
        flex-wrap: wrap;
    }
    .projects-container {
        width: 100%;
    }
    .project {
        width: 100%;
        /* background-color: red; */
        text-align: center;
    }
    .project img {
        width: auto;
        margin-top: 2rem;
    }
    /* Styling skills section */
    .icons{
        width: 80%;
    }
    .icon {
        width: 6rem;
        padding: 0;
        padding: 0 .5rem;
        height: auto;
        
    }
    
    .image {
        width: 50%;
        border-radius: 30%;
        /* background-color: red; */
        margin-left: 8rem;
    }
    
    .about-me-image {
        width: 100%;
        box-shadow: white 2px 1px 5px;

    }
    .about-me-image img {
        height: 80%;
        width: 100%;
        border-radius: 30%;
    }
    /* end main container */
}

/* Dark and light mode button styling */
.line {
    background-color: white;
    height: 1px;
}

body.light {
    background-color: rgb(93, 104, 227);
    color: white;
}

